main {
  color: black;
}

main-sidebear {
  border: 1px Solid;
}

main a {
  font-weight: bold;
}

main a:hover {
  color: red;
}

.funky {
  font-family: fantasy;
  font-size: 30em;
  font-weight: bold;
}

.funky {
  font: 20/24px fantasy;
  font-weight: bold;
}

#context a.notice {
  color: aqua;
  font-weight: 400;
  font-size: 2em;
}

/* Version: 1.1.3.*/
#main {
  width: 5em;
}

#main {
  width: 5em;
}

#sidebear {
  width: 5em;
}

body.firfox .header:before {
  content: "hi";
}

#sidebear {
  width: 12px;
}
